extends layout

block content
    .container
  h1 New Task
  if errors
    ul
      each err in errors
        li= err.msg
  form(action='/tasks/new', method='POST')
    label(for='title') Title:
    input(type='text', name='title', required)
    button(type='submit') Create
